# Node.js
node_modules/
frontend-react/node_modules/
frontend-react/node_modules/.cache/

# Python virtual env
backend/.venv/

# Python compiled files
*.pyc
__pycache__/

# Editor configs
.vscode/
.idea/

# Logs
*.log
